.externalCircle{
	display: table-cell;
	width: 225px;
	height: 225px;
	border-radius: 50%;
	padding: auto;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.internalCircle{
	width: 165px;
	height: 165px;
	border-radius: 50%;
	background-color: #e8e8e8;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px;
}