button::-moz-focus-inner {
  border: 0;
}

button{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	background-color: transparent;
	border:1px solid white;
	color: white;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	position: absolute;
	top: 93%;
	right: 4%;
	font-size: 22px;
	border-radius: 12px;
	cursor: pointer;
}